# Emacs

*~
\#*\#
.\#*


# Github Python .gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
venv/
.venv/
ENV/

# Database settings
learning_sql/config_ubuntu.py
learning_sql/config_ptl.py

*.fasl

*.class

TAGS